<div>
    
    <div>
        <h1>Lista de Pedidos</h1>
        <a href="/pedidos/novo">
             Novo Pedido
        </a>
    </div>

    {{#if pedidos}}
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nota Fiscal (ID)</th>
                        <th scope="col">CPF do Cliente</th>
                        <th scope="col">Data do Pedido</th>



                    </tr>
                </thead>
                <tbody>
                    {{#each pedidos}}
                    <tr>
                        <th scope="row">{{this._id}}</th>
                        <td>{{this.clienteCpf}}</td>
                        <td>{{this.data}}</td>
                        
                        <td>
                            {{#if this.produtos}}
                                {{this.produtos.length}}
                            {{else}}
                                0
                            {{/if}}
                        </td>
                        
                        <td>
                            <a href="/pedidos/{{this._id}}" title="Ver Detalhes">
                                Detalhes
                            </a>
                            
                            <a href="/pedidos/{{this._id}}/editar" title="Editar Pedido">
                                Editar
                            </a>
                            
                            <form action="/pedidos/{{this._id}}/deletar" method="POST" style="display: inline;">
                                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar o pedido {{this._id}}?');" title="Deletar Pedido">
                                    Deletar
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <divrole="alert">
            Nenhum pedido encontrado. <a href="/pedidos/novo">Crie o primeiro!</a>
        </div>
    {{/if}}
</div>