<div>
    
    <h1>{{title}}</h1>
    
    <a href="/produtos/novo">
        <i></i> Novo Produto
    </a>

    {{#if produtos}}
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each produtos}}
                        <tr>
                            <td>{{this.nome}}</td>
                            <td>R$ {{this.preco}}</td>
                            <td>
                                <a href="/produtos/{{this.nome}}">Detalhes</a>
                                <a href="/produtos/{{this.nome}}/editar">Editar</a>
                                
                                <form action="/produtos/{{this.nome}}/deletar" method="POST">
                                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar o produto {{this.nome}}?');">
                                        Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div>Nenhum produto cadastrado.</div>
    {{/if}}

</div>